/*master styles*/
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(5, 70, 70);
    font-family: 'Roboto', sans-serif;
    color:#ccc6c6;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*nav-styles*/ 
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding:38px
}  

.left-side{
    display:flex;
}  

 .nav-wrapper > .left-side > div{
     margin-right: 20px;
     font-size: 1.0em;
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     color:#ccc6c6;
     font-weight: bold;
     margin: 0px 20px;

 }
 .brand{
     font-family: 'Roboto', sans-serif;
     font-size: 1.1em;
     color: #ccc6c6;
     font-weight: bold;
 }

 .nav-link-wrapper{
     height: 22px;
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.5s;
 }

 .nav-link-wrapper a{
    color:#ccc6c6;
     text-decoration: none;
     transition: color 0.5s;
     font-family: 'Roboto', sans-serif;
     position: relative;
     opacity: 0.75;
 }
 .nav-link-wrapper a:hover{
    color:#ccc6c6;
     text-decoration: none;
     transition: color 0.5s;
     font-family: 'Roboto', sans-serif;
     position: relative;
     opacity: 1.3;
 }

 .nav-link-wrapper a::before{
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #031D;
  width: 0%;
  bottom: -5px; 
 }

 .nav-link-wrapper a:hover:before{
    width: 100%;
 }


/* portfolio styles */

.portfolio-items-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.intro{
    color:#ccc6c6;
}
.intro-1{
    color:#ccc6c6;
    align-content: center;
}
.about-me img{
    border-radius:50%;
    margin:-16rem auto;
    width: 250px;
    height: 250px;
    margin-right: 60px;
    margin-bottom: 60px;
}
.paragraph{
    margin-left: 400px;
    margin-bottom: 6px;
}
.paragraph a{
    text-decoration: none;
    color:burlywood;
}
.button{
    background-color: turquoise;
    border: none;
    color:white;
    padding: 15px 32px;
    margin: 4px 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    position:relative;
}
.fab fa{
    width:100px;
}
.footer{
    background-color:rgb(9, 255, 50);
    height: 50px;
}
.footer p{
    color:white;
    text-align: center;
    align-content: center;
    margin:auto;
    padding-top: 15px;
}